.menu {
  @include tablets {
    display: none;
  }

  &_hamburger {
    width: 100%;
    display: block;

    .menu__item {
			display: block;
			text-align: center;

			&:before {
				display: block;
        margin: 0.9375rem auto;
        width: 6px;
        height: 6px;
			}
    }
    
    @include tablets {
      display: block;
    }

    .menu__list {
      display: block;
    }

    .menu__link {
      margin-right: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 39px;
    }
  }
}

.menu__list {
  display: flex;
  align-items: center;
  width: 100%;

  @include tablets {
    display: flex;
    flex-direction: column;
  }
}

.menu__item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  &:before {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: currentColor;
    margin-right: 1rem;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.menu__link {
  margin-right: 17px;
  font-weight: 500;
  font-size: 13px;
  font-family: "ubuntu";
  text-decoration: none;
  text-transform: uppercase;
}