$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

@import './styles/layout/normalize';
@import './styles/layout/media.scss';
@import './styles/layout/mixin.scss';
@import './styles/layout/fonts';
@import './styles/layout/base';

@import './styles/blocks/section.scss';
@import './styles/blocks/header.scss';
@import './styles/blocks/menu.scss';
@import './styles/blocks/hero.scss';
@import './styles/blocks/btn.scss';
@import './styles/blocks/scroll.scss';
@import './styles/blocks/features.scss';
@import './styles/blocks/feature.scss';
@import './styles/blocks/reviews.scss';
@import './styles/blocks/review.scss';
@import './styles/blocks/order-section.scss';
@import './styles/blocks/order.scss';
@import './styles/blocks/switch-controls.scss';
@import './styles/blocks/team.scss';
@import './styles/blocks/team-acco.scss';
@import './styles/blocks/menu-burg.scss';
@import './styles/blocks/menu-acco.scss';
@import './styles/blocks/map.scss';
@import './styles/blocks/footer.scss';
@import './styles/blocks/slider.scss';
@import './styles/blocks/composition.scss';

// @import './styles/blocks/order-link.scss';
@import './styles/blocks/hamburger-menu-link.scss';
@import './styles/blocks/hamburger-menu.scss';

@import './styles/blocks/fixed-menu.scss';