.btn {
  background: $red;
  font-family: "ubuntu";
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-flex;
  padding: 10px 16px;
}