.features {
  background: url('../../img/features/bg-features.jpg') center center no-repeat;
  background-size: cover;
  align-items: center;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.625rem;
}

.features__item {
  width: calc(100% / 3 - 1.625rem);
}
