.scroll-down {
  background: url('../../img/scroll-down/scroll-down.png') center center no-repeat;
  width: 30px;
  height: 15px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}