.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 40.625rem;

  &--align--top {
    justify-content: flex-start;
  }
}

.section__title {
  line-height: 5.3125rem;
  color: $yellow;
  font-family: "gagalin";
  font-size: 4.5rem;
  line-height: 1.1;

  &--centered {
    text-align: center;
  }

  &--color--black {
    color: $black;
  }

  &--white {
    color: $white;
  }
}